.own-franchise {
	padding: 5rem 0;
	img {
		display: block;
		margin: auto;
	}

	h2 {
		text-align: center;
		margin: 2rem 0 5rem;
	}
	.franchise {
		display: flex;
		justify-content: space-between;

		@media screen and (max-width: 992px) {
			flex-direction: column;
		}

		div {
			width: calc(50% - 4rem);
			text-align: right;

			@media screen and (max-width: 992px) {
				width: unset;
			}

			img {
				max-width: 80%;
			}

			h4 {
				font-size: 2rem;
				margin: 3rem auto;
			}
		}
	}
}
