// mobile nav
.mobile-nav {
	opacity: 0;
	visibility: hidden;
	z-index: 5;

	.hamburger {
		text-transform: uppercase;
		letter-spacing: 2px;
		cursor: pointer;
		background-color: transparent;
		color: $primary-color;
		border: none;
		outline: none;
		position: absolute;
		right: 12.5%;
		top: 3.4rem;
		font-weight: 600;
	}

	.open {
		color: white;
	}

	.links-nav {
		background-color: $primary-color;
		padding: 4rem;
		transform: translateY(-100%);
		width: 100vw;
		height: 100vh;
		position: absolute;
		transition: all 1s ease;

		li {
			list-style: none;
			padding: 3rem 0;
		}
		a {
			text-decoration: none;
			color: $white;
			transition: all 0.1s ease;
			font-size: 3rem;
			letter-spacing: 2px;
			border-bottom: 2px solid white;
			padding: 1rem 0;

			&:hover {
				border-bottom: unset;
			}
		}
	}

	@media only screen and (max-width: 46.875em) {
		opacity: 1;
		visibility: visible;
	}
}

.openNav .links-nav {
	transform: translateY(0%);
}

header {
	.nav {
		margin: 0 auto;
		height: 60px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 40px 0;

		@media screen and (max-width: 992px) {
			flex-direction: column;
		}

		@media screen and (max-width: 46.875em) {
			flex-direction: row;
		}

		img {
			max-height: 35px;
		}

		ul {
			display: flex;
			justify-content: space-between;
			align-items: center;

			@media screen and (max-width: 992px) {
				margin: 2rem 0;
			}
			li {
				margin: 0 2rem;
			}
		}

		&-list {
			list-style: none;
			@media screen and (max-width: 46.875em) {
				display: none;
			}
		}

		&-link {
			text-decoration: none;
			color: #36354c;
			font-weight: 600;
			transition: all 0.1s ease;
			font-size: 1.4rem;

			&:hover {
				padding-bottom: 5px;
				border-bottom: $primary-color solid 3px;
			}
		}
	}

	.hero {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 5rem auto;

		@media screen and (max-width: 992px) {
			flex-direction: column-reverse;
		}

		@media screen and (max-width: 46.875em) {
			margin-top: 2rem;
		}

		.hero-text {
			width: calc(50% - 2rem);

			@media screen and (max-width: 992px) {
				width: unset;
				margin-top: 2rem;
			}
			h2 {
				margin-bottom: 3rem;
			}
			button {
				margin-top: 4rem;
				@media screen and (max-width: 576px) {
					margin-bottom: 2rem;
				}
			}

			.link-hero {
				font-size: 1.6rem;
				color: $blue;
				text-decoration: underline;
				font-weight: 600;
				margin-left: 2em;
				white-space: nowrap;

				&::before {
					content: "► ";
					background-size: 16px 16px;
					display: inline-block;
					height: 16px;
					width: 16px;
					text-decoration: none;
				}

				@media screen and (max-width: 576px) {
					margin-left: 0.5rem;
				}
			}
		}

		div {
			width: calc(50% - 2rem);

			@media screen and (max-width: 992px) {
				width: unset;
				margin-top: 4rem;
			}
			@media screen and (max-width: 46.875em) {
				margin-top: unset;
			}
			.hero-image {
				max-width: 100%;
			}
		}
	}
}
