.testimonial {
	padding: 5rem 0;
	h2 {
		font-size: 3.6rem;
		text-align: center;
		margin-bottom: 5rem;
	}
	.testimonial-card-container-1,
	.testimonial-card-container-2 {
		display: flex;
		justify-content: space-between;
		margin-bottom: 6rem;

		@media screen and (max-width: 992px) {
			flex-direction: column;
		}
		.testimonial-card {
			width: calc(50% - 7rem);
			@media screen and (max-width: 992px) {
				width: unset;
				&:not(:last-child) {
					margin-bottom: 5rem;
				}
			}
			p {
				background-color: white;
				box-shadow: 0px 15px 55px rgba(0, 0, 0, 0.1);
				border-radius: 15px;
				padding: 2rem 3rem;
				font-weight: 500;
			}
			div {
				text-align: right;

				img {
					margin-top: 3em;
					border-radius: 50%;
				}
			}
		}
	}
}
