footer {
	padding: 50px 0;
	background-image: url(../img/png/footer-bg.png);
	color: $gray;
	.procredita-details {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 2fr;
		margin-bottom: 5rem;

		div {
			h3 {
				color: $deep-blue;
				margin-bottom: 1rem;
				font-size: 2.1rem;
			}

			a {
				display: block;
				text-decoration: none;
				color: $gray;
				line-height: 2.4rem;
				font-size: 1.4rem;
			}
		}

		.column-1 {
			div {
				margin-top: 2rem;
				img {
					margin-right: 0.6rem;
				}
			}
		}

		.column-4 {
			// ::before {
			// 	content: "";
			// 	display: inline-block;
			// 	width: 300px;
			// 	height: 300px;
			// 	background-image: url(../img/png/street.png);
			// 	background-repeat: no-repeat;
			// 	position: relative;
			// 	left: -100px; //adjust your positioning as necessary
			// }

			.contact-card {
				background: #ffffff;
				box-shadow: 0px 40px 400px rgba(0, 0, 0, 0.07);
				border-radius: 8px;
				padding: 2rem;
				width: 255px;
				div {
					display: flex;
					justify-content: space-evenly;
					align-items: flex-start;

					p {
						font-size: 1rem;
						width: 150px;
					}
				}

				// ::before {
				// 	content: "";
				// 	background-image: none;
				// 	width: unset;
				// 	height: unset;
				// }
			}
		}
	}

	p {
		font-size: 1.5rem;
		font-weight: 500;

		span {
			color: $deep-blue;
		}
	}

	p.copyright-text {
		text-align: center;
		font-size: 1.6rem;
		margin-top: 3rem;
		color: $deep-blue;
	}
}
