.mobile-nav {
	opacity: 0;
	display: none;
	z-index: 5;
}

header {
	.nav {
		margin: 0 auto;
		height: 60px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 40px 0;

		img {
			max-height: 35px;
		}

		ul {
			display: flex;
			justify-content: space-between;
			align-items: center;

			li {
				margin: 0 25px;
			}
		}

		&-list {
			list-style: none;
			@media only screen and (max-width: 46.875em) {
				display: none;
			}
		}

		&-link {
			text-decoration: none;
			color: #36354c;
			font-weight: 600;
			text-transform: capitalize;
			transition: all 0.1s ease;
			font-size: 1.5rem;

			&:hover {
				padding-bottom: 5px;
				border-bottom: $primary-color solid 3px;
			}
		}
	}

	.hero-bg {
		.hero {
			height: 650px;
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-column-gap: 2em;
			justify-items: center;
			align-items: center;
			margin: 0 auto;

			.hero-text {
				h2 {
					margin-bottom: 3rem;
				}
				button {
					margin-top: 4rem;
				}

				img {
					padding-top: 2rem;
					margin-left: 3rem;
				}

				.link-hero {
					font-size: 1.6rem;
					color: $blue;
					border-bottom: 1px solid $blue;
					font-weight: 600;
					margin-left: 2em;

					&::before {
						content: " ";
						background-image: url("../img//svg//play.svg");
						background-size: 16px 16px;
						display: inline-flex;
						text-decoration: none;
						left: 100px;
						height: 16px;
						width: 16px;
					}
				}
			}
		}

		.hero-image {
			width: 100%;
		}
	}
}
